/* h1 Heading Section*/
h1 {
    color: aqua;
    margin: 5px;
    padding: 5px;
    border: light #343434 groove;
    text-align: center;
    font-size: 50px;
  }
  
  /* The Hint Section before the Quiz Interface*/
  .info {
    text-align: center;
    margin: auto;
    padding-top: 35px;
    color: #e9e9e9;
    margin-top: 10px;
    font-size: 18px;
  }
  .hint {
    text-align: center;
    border-left: 1px solid #4eb1ba;
    width: 60px;
    margin: auto;
    color: #e9e9e9;
    font-size: 18px;
    margin-left: -62px;
  }
  .hint_text {
    text-align: left;
    margin-top: -21px;
    margin-left: 10px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #4eb1ba;
  }
  .quiz_container {
    padding-top: 100px;
  }
  .blink{
    color: #e9e9e9;
    margin: 5px;
    padding: 5px;
    border: light #343434 groove;
    text-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 2s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-name: blinker;
      -moz-animation-duration: 2s;
      -moz-animation-timing-function: linear;
      -moz-animation-iteration-count: infinite;
      animation-name: blinker;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  @-moz-keyframes blinker {
        0% { opacity: 1.0; }
        50% { opacity: 0.3; }
        100% { opacity: 1.0; }
    }
  @-webkit-keyframes blinker {
        0% { opacity: 1.0; }
        50% { opacity: 0.3; }
        100% { opacity: 1.0; }
    }
  @keyframes blinker {
        0% { opacity: 1.0; }
        50% { opacity: 0.3; }
        100% { opacity: 1.0; }
    }
  
  /*Styling for The Radio Buttons*/
  .question_options {
    font-size: 20px;
    text-align: left;
  }
  
  /*Styling for the Start, Next and Submit Buttons*/
  .question_text {
    font-size: 20px;
  }
  body {
    background-color: #222930;
    text-align: center;
  }
  .quiz_app {
    border: 1px solid #4eb1ba;
    text-align: center;
    orientation: center;
    margin: auto;
    color: #e9e9e9;
    font-size: 18px;
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
  .button_next {
    display: none;
  }
  .button_submit {
    display: none;
    float: right;
  }
  em {
    color: crimson;
  }

  .button_start,
  .button_next,
  .button_submit {
    border-radius: 6px;
    background-color: #222930;
    color: #4eb1ba;
    cursor: pointer;
    font-size: 20px;
    width: fit-content;
    margin: 5px;
  }
  .button_start:hover,
  .button_submit:hover {
  transition: 0.2s;
  font: message-box;
  }
  
  /*Styling for Screen Size Responsiveness*/
  @media (max-width: 500px) {
    .info {
      width: 300px;
    }
    .quiz_app {
      width: 300px;
    }
  }
  @media (min-width: 900px) {
    .info {
      width: 400px;
    }
    .quiz_app {
      width: 900px;
    }
  }
  @media (min-width: 501px) and (max-width: 899px) {
    .info {
      width: 400px;
    }
    .quiz_app {
      width: 500px;
    }
  }